@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


@media only screen and (min-width:400px) and (max-width:700px) {
    
    * {
        margin: 0;
        padding: 0;
        font-family: "Inter", sans-serif;
    }
    
    a{
        text-decoration: none;
        text-decoration: underline;
        color: black;
    }
    
    header {
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: auto;
        height: 10vh;
        gap: 1vw;
    }
    header > div {
        display: flex;
        align-items: center;
        justify-content: center;
        height: min-content;
        width: min-content;
    }
    
    #vector {
    padding-bottom: 0.5vh;
    }
    
    .container {
        display: flex;
        justify-content: center;
        background-color: #b9baf2;
        height: 120vh;
    }
    .content {
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5vh;
        padding: 0  2.5vw;
        background-color: white;
        border-radius: 10px;
        height: 70vh;
        width: 80vw;
        margin-top: 10vh;
    
        
    }
    
    div > h1 {
        text-align: center;
        justify-self: flex-start;
        font-size: 1.5rem;
        letter-spacing: 2px;
    }
    div > p {
        color: #474747;
        font-weight: 500;
        padding-top: 0.5vh;
    }
    div > p > a {
        color: rgb(58, 58, 58);
    }
    
    .input {
        display: flex;
        flex-direction: column;
    }
    
    .input > label {
        padding: 0 0 1vh;
    }
    .input > input {
        height: 5vh;
        width: 65vw;
        border: none;
        border-radius: 5px;
        outline: none;
        background-color: #f8f8f8;
    }
    
    .input input::placeholder {

        padding-left: 2.5vw;
    
    }
    
    button {
        color: white;
        font-weight: 700;
        background-color: #C92071;
        border: none;
        border-radius: 5px;
        height: 5vh;
        width: 65vw;
    }
    #ou {
        align-self: start;
        
    }
    #ou > a {
        color: #474747;
        padding-left: 8vw;
    }

    #alternativo {
        padding: 0 0 2vh;
    }
    #logo-gmail-face{
        display: flex;
        justify-content: center;
    }

    #gmail{
        padding-right: 2vw;
    }
    #face{
        padding-left: 2vw;
    }
}
